.menu {
  background-image: url('public/background1.png');
  padding: 60px 20px;
  min-height: auto;
  font-family: sans-serif;
  color: #3b2f2f;
}

.menu-title{
  text-align: center;
  font-size: 3rem;
  margin-bottom: 40px;
  color: #5c3b1a;
  text-shadow: 1px 1px #f3e6d4;
}

.menu-section{
  background-color: rgba(255, 250, 245, 0.9);
  margin: 30px auto;
  padding: 30px;
  border-radius: 16px;
  max-width: 800px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.menu-section ul{
  list-style: none;
  padding: 0;
}
.menu-section h2{
  font-size: 1.8rem;
  color: #7a4e2b;
  margin-bottom: 20px;
  border-bottom: 2px solid #d8b98f;
  padding-bottom: 10px;;
}
.menu-section li{
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
  padding: 12px 0;
  border-bottom: 1px dashed #ccc;
}
.menu-section li:last-child {
  border-bottom: none;
}
